<div class="row">
  <div class="col"></div>
  <div class="col-6 text-center">
    <form class="form-inline" (ngSubmit)="onCitySubmit(f)" #f="ngForm">

      <div class="md-form form-group">
        <!--<i class="fa fa-envelope prefix"></i>-->
        <input type="text" id="form91" class="form-control validate" ngModel name="city">
        <label for="form91" data-error="wrong" data-success="right" class="active">Enter Your City</label>
      </div>

      <div class="md-form form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

    </form>
  </div>
  <div class="col"></div>
</div>
